/*====================================
    Base Styles
======================================*/

body {
  background-color: rgb(20,18,19);
  overflow: hidden;
  font-family: helvetica, arial, sans-serif;
  color: white;
}


/* Classes for special use */
.disable-selection {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.pink-hover:hover {
  color: rgb(255,54,87);
  cursor: pointer;
}


/* Styling for page frames */
.page-container {
  background-color: rgb(20,18,19);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
#langing-page {
  display: none;
}
.contact-page {
  display: none;
}
.video-container-1 {
  /*display: none;*/
}
.video-container-2 {
  display: none;
}


/* Landing Page */
#banner-pic {
  position: absolute;
  height: 230px;
  width: 325px;
  top: 50%;
  left: 50%;
  margin-left: -162.5px;
  margin-top: -115px;
}
#landing-page-caption {
  color: white;
  font-size: 25px;
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -150px;
  text-align: center;
  text-decoration: none;
  display: none;
}
#landing-page-caption:hover {
  color: rgb(255,54,87);
  cursor: default;
}


/* Buttons for page transitions */
.video-link {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -10px;
  display: none;
}
.fa-paper-plane-o {
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -8px; 
}
.to-contact-page {
  display: none;
}
.fa-angle-left {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 30px;
  margin-top: -8px;
}
.fa-angle-up {
  position: absolute;
  font-size: 20px;
  top: 30px;
  left: 50%;
  margin-left: -8px;
}
.fa-angle-down {
  position: absolute;
  font-size: 20px;
  bottom: 30px;
  left: 50%;
  margin-left: -8px;
}


/* Contact Page */
.fa-envelope-o {
  color: white;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -25px;
}
.fa-instagram {
  color: white;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 35%;
  margin-top: -23px;
  margin-left: -25px;
}
.fa-twitter {
  color: white;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 65%;
  margin-top: -23px;
  margin-left: -25px;
}


/* Video Styles */
.video {
  margin: 0 auto;
  margin-top: 80px;
  width: 800px;
  height: 450px;
}
.video-description {
  margin: 0 auto;
  margin-top: 35px;
  width: 790px;
  font-size: 12px;
}
.video-title {
  margin: 0 auto;
  font-size: 25px;
  background-color: rgb(255,54,87);
  display: inline-block;
  padding: 0 6px;
}
.description-text {
  font-size: 13px;
}



/*====================================
    IPHONE 6S landscape styles
======================================*/
@media (max-width: 736px) {
  
  /* Buttons for page transitions */
  .fa-angle-up {
    top: 12px;
  }
  .fa-angle-down {
    bottom: 12px;
    font-size: 20px;
    margin-left: -8px;
  }
  .to-contact-page-from-vids {
    
  }


  /* Video Styles */
  .video {
    margin-top: 50px;
    width: 80%;
    height: 40%;
  }
  .video-title {
    font-size: 15px;
  }
  .video-description {
    margin-top: 35px;
    width: 80%;
  }

}



/*====================================
    Samsung Galaxy S5 portrait styles
======================================*/
@media (max-width: 640px) {
  .video {
    margin-top: 40px;
    width: 80%;
    height: 40%;
    margin-bottom: -10px;
  }
}



/*====================================
    IPHONE 5 landscape styles
======================================*/
@media (max-width: 568px) {
  .video {
    margin-bottom: -20px;
  }
}


/*====================================
    IPHONE 6S portrait styles
======================================*/
@media (max-width: 414px) {

  /* Buttons for page transitions */
  .to-contact-page-from-vids {
    display: none !important;
  }


  /* Contact Page Icons*/
  .fa-envelope-o {
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -25px;
  }
  .fa-instagram {
    top: 35%;
    left: 50%;
    margin-top: -23px;
    margin-left: -22px;
  }
  .fa-twitter {
    top: 65%;
    left: 50%;
    margin-top: -23px;
    margin-left: -23px;
  }
}


/*====================================
    IPHONE 6 portrait styles
======================================*/
@media (max-width: 375px) {
  
}


/*====================================
    Samsung Galaxy S5 portrait styles
======================================*/
@media (max-width: 360px) {
  
}