body {
  background-color: rgb(20,18,19);
  overflow: hidden;
}
header {
  width: 100%;
  top: 0;
  background-color: blue;
  height: 60px;
}
header h1 {
  margin: 0;
}
#banner-pic {
  position: absolute;
  height: 230px;
  width: 325px;
  top: 50%;
  left: 50%;
  margin-left: -162.5px;
  margin-top: -115px;
}
#email-text {
  color: white;
  font-size: 12px;
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -150px;
  text-align: center;
  text-decoration: none;
}
#email-text:hover {
  color: rgb(255,54,87);
  cursor: pointer;
}