body {
  background-color: rgb(20,18,19);
  overflow: hidden;
  font-family: helvetica, arial, sans-serif;
  color: white;
}
.page-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.pink-hover:hover {
  color: rgb(255,54,87);
  cursor: pointer;
}
#banner-pic {
  position: absolute;
  height: 230px;
  width: 325px;
  top: 50%;
  left: 50%;
  margin-left: -162.5px;
  margin-top: -115px;
}
#email-text {
  color: white;
  font-size: 12px;
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -150px;
  text-align: center;
  text-decoration: none;
}
#email-text:hover {
  color: rgb(255,54,87);
}
#email-text:hover {
  color: rgb(255,54,87);
  cursor: pointer;
}
.to-contact-page {
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -8px;
}

.video-link {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -10px;
}
.fa-angle-left {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 30px;
  margin-top: -8px;
}
.fa-envelope-o {
  color: white;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -25px;
}
.fa-instagram {
  color: white;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 35%;
  margin-top: -15px;
  margin-left: -25px;
}
.fa-twitter {
  color: white;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 65%;
  margin-top: -15px;
  margin-left: -25px;
}
.video-container {
  background-color: rgb(20,18,19);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.video {
  margin: 0 auto;
  margin-top: 80px;
  bottom: 0;
  width: 60%;
  height: 60%;
}
.video-description {
  margin: 0 auto;
  margin-top: 35px;
  width: 60%;
}
.video-title {
  margin: 0 auto;
  font-size: 25px;
  background-color: rgb(255,54,87);
  display: inline-block;
  padding: 0 6px;
}
.description-text {
  font-size: 13px;
}
.fa-angle-up {
  position: absolute;
  font-size: 20px;
  top: 30px;
  left: 50%;
  margin-left: -8px;
}

.fa-angle-down {
  position: absolute;
  font-size: 20px;
  bottom: 30px;
  left: 50%;
  margin-left: -8px;
}

@media (max-width: 800px) {
  .video {
    width: 100%;
    height: 40%;
  }
  .video-description {
    margin-top: 35px;
    width: 80%;
  }
  .fa-angle-down {
    position: relative;
    left: 0;
    margin-top: 20px;
    font-size: 20px;
    margin-left: -8px;
  }
}